Django==4.2.25
django-environ==0.12.0
gunicorn==23.0.0

line-bot-sdk==3.19.1
RapidFuzz==3.14.1

pgvector==0.4.1
psycopg==3.2.10
psycopg-binary==3.2.10

sentence-transformers==5.1.1
transformers==4.56.2
torch==2.8.0
tokenizers==0.22.1
huggingface-hub==0.35.3
safetensors==0.6.2
numpy==2.3.3
tqdm==4.67.1
requests==2.32.5
scipy==1.16.2
scikit-learn==1.7.2
